.faqSection {
  background-image: url('/img/images/background-faqs.jpg');
  background-size: cover;
  background-position: center;
  padding: 4rem 0;
  position: relative;
}



.faqSection > .container {
  position: relative; /* so content is above overlay */
  z-index: 1;
}

.faqTitle {
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--ifm-color-primary-darkest);
}

.faqAnswer {
  font-size: 0.95rem;
  color: var(--ifm-color-emphasis-700);
  margin-top: 0.5rem;
}
